.detailstyle{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
   
    margin-left: 20px;
    margin-right: 20px;

}


/* make  responsive */
@media only screen and (max-width:576px) {
    .detailstyle {
        grid-template-columns: repeat(1, 1fr);
    }
}
.card img{
    max-height: 202px;
}